{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Agency of Lorem ipsum dolor sit amet.</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vel aliquam cumque eligendi quia dolorem deleniti.
        Soluta eaque dignissimos perferendis!
    </p>
</div>

<div class="container">
    <h2>Latest properties</h2>
    <div class="row flex mt-4">
        {% for property in properties  %}
            <div class="col-md-4">
                {% include 'property/_property.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    .price{
        font-weight: bold;
        font-size: 1.6rem;
    }
    .card-img-top {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }
</style>
{% endblock %}