{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Agency Lorem ipsum dolor sit amet.</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vel aliquam cumque eligendi quia dolorem deleniti.
        Soluta eaque dignissimos perferendis!
    </p>
</div>
{% endblock %}