{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}

    <div class="container text-center mt-3">
        <h1>See all our properties</h1>

        <div class="row mt-4">
            {% for property in properties %}
                <div class="col-md-4">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>

        {# display navigation #}
        <div class="navigation d-flex align-items-center justify-content-center">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}
