{% extends 'base.html.twig' %}

{% block title %}Edit Option {% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Edit Option : {{ option.name }}</h1>
        {{  include ('admin/option/_form.html.twig', {button: 'Edit'}) }}
    </div>



{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}